.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}


/* Header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  font-size: 0;
  background-color: #f2f2f2;
  position: relative;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.logo {
  width: 183px;
  background: no-repeat center / cover;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.svg');
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: relative;
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

/* Description */

.description {
  padding-top: 100px;
}

.two-columns {
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.two-columns__brief {
  max-width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;

}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 30px 0 0;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}


/* Digits */

.digits {
  margin: 0;
  padding: 100px 0;
}

.section-title {
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
  padding: 0 20%;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 0;
  padding: 0 20%;
}

.table {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  padding: 0 40px;
}

.table__cell {
  width: 250px;
  list-style: none;
  margin: 60px 0 0;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 20px 0 0;
}

/* Feynman */

.feynman {
  padding: 100px 0 0;
  background: #F2F2F2 url('../images/feynman.png') no-repeat bottom left;
  background-size: 867px 637px;
  position: relative;
  min-height: 790px;
}

.feynman__title {
  max-width: 648px;
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  margin: 0 auto;
}

.feynman__subtitle {
  margin: 70px 0 0;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #000000;
}


/* Kaufman */

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.table_theme_dark {
  position: relative;
  z-index: 1;
}

.table__cell_theme_dark {
  color: #ffffff;
  width: 200px;
  margin: 80px 0 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url('../images/kaufman-triangle.svg') no-repeat center /contain;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
}

/* Footer */

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  box-sizing: border-box;
  padding: 60px 0 40px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  display: flex;
  flex-basis: 711px;
  min-height: 250px;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.svg');
  height: 35px;
}

.footer__author {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  padding: 18px 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 20px;
  color: #ffffff;
}

.footer__column-links {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
