.khan__buy-link {
  text-decoration: none;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  color: #2f80ed;
  margin-left: 48px;
 align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .5;
  transition: all .5s ease;
}
